<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="destiny" value="\\BLACKDEATHWING\Test"/>
    <add key="store" value="Test2"/>
    <add key="sector" value="Reynosa"/>
    <add key="ftIp" value="127.0.0.1"/>
    <add key="ftpusr" value="usr"/>
    <add key="ftppwd" value="pwd"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
